html, body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #505050;
}
.logcontainer {
    display: block;
    margin: auto;
    max-width: 1400px;
    width: 100%;
}
.nav {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 80;
    border-bottom: 1px solid #ddd;
}
.navbar {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    background: white;
}
.navbar > img {
    height: 34px;
    margin-top: 36px;
}
.navbar > * {
    float: left;
}
.navbar > a { 
    line-height: 20px; 
    margin-top: 30px; 
    padding: 10px 25px; 
    font-size: 13px;
}
.nav-spacer {
    height: 100px;
}
.prod-dim {
    color: #909090;
}
.gw-color-bg {
    background: #1b285c !important;
}
.gw-color-bg-ls {
    background: #020266 !important;
}
.gw-color-bg-l {
    background: #f5f5f5 !important;
}
.navbar::after {
    display: table;
    clear: both;
    content: '';
}
nav, .navbar { margin-top: 15px;}
.text-dim { color: #2d2d2d; }
.banner-wrapper{
    padding: 20vh 0;
}
.product-wrapper {
    padding: 100px 0 80px 0;
}
.banner-wrapper {
    background: white;
    background: url(../asset/unsplash-11.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.emphasis {
    
    padding-bottom: 10px;
    border-bottom: 5px solid #020266;
}
.main-container {
    display: block;
    width: 85%;
    max-width: 1200px;
    margin: auto
}

.main-container-b {
    display: block;
    margin: auto;
    width: 70%;
}
.no-margin {
    margin: 0;
}
.gw-title, .gw-title-s {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.gw-title-s { font-size: 17px; }
.gw-subtitle, .gw-subtitle-l {
    
    margin: 0;
    line-height: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;

}
.gw-subtitle-l { font-size: 15px; }

.gwc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.gatewaycard {
    position: relative;
    background: white;
    height: 250px;
}

.text-bottom {
    position: absolute;
    bottom: 25px;
    left: 35px;
}


.laboratory { background: url(../asset/laboratory.jpg) no-repeat center center; }
.healthcare { background: url(../asset/healthcare.jpg) no-repeat center center; }
.veterinary { background: url(../asset/veterinary.jpg) no-repeat center center; }
.hospitalequipment { background: url(../asset/hospital\ equipment.jpg) no-repeat center center; }
.kitchenwares { background: url(../asset/kitchen.jpg) no-repeat center center; }
.fitness { background: url(../asset/fitness.jpg) no-repeat center center; }
.sport { background: url(../asset/sporting.jpg) no-repeat center center; }
.household { background: url(../asset/household.jpg) no-repeat center center; }
.plastic { background: url(../asset/plastic.jpg) no-repeat center center; }
.hardware { background: url(../asset/hardware.jpg) no-repeat center center; }
.nursery { background: url(../asset/nursery.jpg) no-repeat center center; }
.general { background: url(../asset/general.jpg) no-repeat center center; }
.office { background: url(../asset/office.jpg) no-repeat center center; }
.scientific { background: url(../asset/scientific.jpg) no-repeat center center; }
.bgboy {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    transition: 0.5s;
}
.bgboy:hover {
    transition: 0.2s;
    background-size: 110%;
    
}

.spacer { height: 270px; }
.unset-margin {
    padding-top: 120px;
    margin-bottom: -200px;
}
.address {
    text-align: right;
    margin-left: 30%;
    width: 70%;
}
.phones {
    width: 100%;
}
.phone-img-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    margin-left: -0.75rem !important;
    background: url(../asset/phone.jpg) no-repeat center 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 15px solid white !important;
}
.phone-text-wrap {
    padding: 45px 10%!important;
}
.address, .phones {
    background: white;
    padding: 75px 10%;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.06);  
}
.phones {
    padding: 0;
}
.app {
    overflow: hidden;
}

.no-pad { padding: 0 !important; }

.dots {
    background: #1b285c;
    background: -webkit-linear-gradient(left, #1b285c 20px, transparent 1%) center, -webkit-linear-gradient(#1b285c 20px, transparent 1%) center, rgb(14, 14, 131);
    background: linear-gradient(90deg, #1b285c 20px, transparent 1%) center, linear-gradient(#1b285c 20px, transparent 1%) center, rgb(14, 14, 131);
    background-size: 22px 22px;
    
}

.line {
    display: block;
    margin: 25px auto 75px auto;
    height: 1px;
    background: #474747;
    width: 200px;
}
.wrapper-text {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.wrapper-text:hover {
    transition: 0.5s;
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered-text-wrapper {
    background: rgba(255, 255, 255, 0.7);
    padding: 15px 25px;
    color: #444444;
    font-weight: 700;
    width: 200px;
    text-align: center;
}
.form-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 15% 12%;}
    .inputs {
        width: 100%;
        border: 1px solid #ddd;
        padding: 10px 25px ;
        margin-bottom: 1.5rem ;
    }

    textarea {resize: none; height: 200px; padding-top: 1.5rem !important;}
    .submits {
        width: 50%;
        color: white;
        border: none;
        margin-left: 25%;
    }

    
@media screen and (max-width: 1025px) { 

    .main-container {
        display: block;
        margin-left: 0;
        width: 85%;
        margin: auto;
    }
    .gatewaycard { height: 190px; }


}
#q {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
#modal1 {
    text-align: center;
    width: 100%;
    max-width: 400px;
}
@media screen and (max-width: 800px) { 
    .address {
        text-align: right;
        margin-left: 15%;
        width: 85%;
    }
}

@media screen and (max-width: 429px) { 
    .navbar > img {
        height: 30px;
        margin-top: 30px;
    }
    .gatewaycard { height: 170px; }
    .gw-title { line-height: 19px; }
    .address {
        text-align: left;
        margin-left: 0;
        width: 100%;
    }
    .main-container, 
    .main-container-b {
        margin-left: 0;
        margin: auto;
        width: 90%;
    }
    
    .main-container-c {
        width: 100%;
    }

    .unset-margin { padding-top: 40px; }
    .banner-wrapper { padding: 150px 20px; }
    .product-wrapper { padding: 20px 0; }

    .gw-subtitle, .no-margin {
        font-size: 11px;
    }
    .navbar, .nav-spacer {
        height: 85px;
    }
    .navbar > a {
        line-height: 20px;
        margin-top: 30px;
        padding: 5px 15px;
        font-size: 13px;
    }
}